body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}
h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	font-size: 70px;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 7px solid currentColor;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 6px;
	font-weight: 900;
}
h1:before {
	content: "Loading...";
	position: absolute;
	text-transform: uppercase;
	left: 0;
	top: 0;
	width: 100%;
	color: rgb(48, 0, 58);
	border-bottom: 7px solid currentColor;
	animation: load 3s linear infinite;
	overflow: hidden;
}

@keyframes load {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
