* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}
nav {
	width: fit-content;
	margin: auto;
}
ul,
li {
	display: inline-block;
}
header {
	padding: 20px;
}
li {
	margin: 10px 20px;
}

a {
	position: relative;
	text-transform: capitalize;
	color: #333;
	font-size: 30px;
}
a::before {
	content: "";
	position: absolute;
	bottom: -5px;
	height: 4px;
	width: 0;
	background-color: #0f0131;
	border-radius: 10px;
	transition: width 0.5s ease;
}
a:hover::before {
	width: 100%;
}

nav a.active {
	color: #b60606;
}
nav a.active:before {
	content: "";
	position: absolute;
	bottom: -5px;
	height: 4px;
	width: 100%;
	background-color: #b60606;
	border-radius: 10px;
	transition: width 0.5s ease;
}
.hidden {
	display: none;
}
.card {
	background-attachment: initial;
	transition-property: all;
	transition-delay: 1s;
	transition-duration: 3s;
	transition-timing-function: ease;
}
.card p {
	position: static;
	transition-property: color;
	transition-delay: 2s;
	transition-duration: 2s;
	transition-timing-function: ease;
}
.card:hover {
	background-color: transparent;
	/* background-image: url("../images/2-slider-5.jpg"); */
}
.card:hover p {
	color: red;
}
/* .card:hover .hidden {
	display: block;
	background-color: darkblue;
} */

.card p::before {
	content: "";
	width: 5px;
	height: 50px;
	background-color: #0f0131;
	display: inline-block;
}
