* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
}
header {
	padding: 20px;
}
nav {
	width: fit-content;
	margin: auto;
}
ul,
li {
	display: inline-block;
}

li {
	margin: 10px 20px;
}
nav a {
	position: relative;
	text-transform: capitalize;
	color: #333;
	font-size: 30px;
}
